[submodule "libs/libfreenect2"]
	path = libs/libfreenect2
	url = git@github.com:OpenKinect/libfreenect2.git
[submodule "libs/opencv"]
	path = libs/opencv
	url = git@github.com:Itseez/opencv.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libs/libjpeg-turbo"]
	path = libs/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "libs/VTK"]
	path = libs/VTK
	url = https://github.com/Kitware/VTK
